@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lilita+One&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(250, 250, 250);
  font-family: "Bree Serif", serif;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #343434;
}
.app {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

/* Header */
.navbar {
  background-color: #959BD0;
  /* soft indigo */
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  border-bottom: .5vw solid #8a78a5;
  /* subtle bottom border */
  box-shadow: 0 0.1vh 1.5vh rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 5%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  overflow: hidden;
}

/* Nav bar left side */
.nav-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

div.nav-left img.icon {
  vertical-align: middle;
  width: clamp(30px, 2.8vw, 200px);
  height: clamp(30px, 2.8vw, 200px);
  object-fit: contain;
  border-radius: 4px;
}

div.nav-left .menuIcon {
  vertical-align: middle;
  margin-top: -0.4vw;
  font-size: clamp(35px, 2.8vw, 200px);
  cursor: pointer;
  user-select: none;
}

div.nav-left h3 {
  font-family: "Lilita One", sans-serif;
  font-size: clamp(20px, 1.8vw, 200px);
  color: #ffffff;
  text-align: center;
}

.nav-right a {
  color: whitesmoke;
  font-size: clamp(10px, 1vw, 200px);
}

.nav-right .fa-github-square {
  font-size: clamp(25px, 1.9vw, 200px);
}

/* Nav bar right side */
.nav-right {
  display: flex;
  align-items: center;
  vertical-align: middle;
  gap: 1rem;
  font-size: 1.3vw;
  padding-right: 3rem;
}

.nav-right i {
  color: white;
  cursor: pointer;
}

/* small nav */
@media (max-width: 768px) {
  div.nav-left h3 {
    display: none
  }

  .navbar {
    padding-top: 0px;
    padding-bottom: 0px;
  }

}

/* Side Menu */

.side-menu-wrapper {
  position: fixed;
  margin-top: -5%;
  left: 0;
  height: 100vh;
  width: 30vw;
  overflow-y: scroll;

  background-color: #e6deeb;
  border-right: #8a78a5 solid .5vmax;
  z-index: 500;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  padding-top: 11.5vmax;
  padding-left: 2vmax;

  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 500ms;
} 


.side-menu-wrapper p{
  font-size: 2vmax;
}
.side-button {
  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  font-size: 1.2vmax;
  color: #343434;
  cursor: pointer;
  width: calc(100% - 4rem);

  border: solid .5vmax #8a78a5;
  border-radius: 10000rem;
  background-color: #ffffff;
  box-shadow: 0px 6px 0px 1px #786990;
  padding: .8vmax;
  margin: .5vmax;

  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 200ms;
}
.side-button:hover {
  transform: scaleY(110%) scaleX(105%);
}


/* Main App */
div.app {
  /*margin-top: 9vmin;*/
  height: fit-content;
  width: fit-content;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-wrapper {
  margin-top: 9vh;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-bottom: 3.5vh;
}

h1.title {
  font-family: "Lilita One", sans-serif;
  font-size: clamp(30px, 2.7vw, 120px);
  color: #343434;
  text-align: center;
  margin-bottom: 0px;
  margin-right: 20px;
}

.title-wrapper p {
  font-size: clamp(19px, 1.6vw, 70px);
  color: #343434;
  margin-bottom: 0.5px;
}


div.game-box {
  
  height: fit-content;
  width: fit-content;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p.date {
  font-size: clamp(20px, 1.5vw, 60px);
  color: #343434;
  text-align: center;
  margin: 0vh;
  padding: 1vmax;
}

/* small title */
@media (max-width: 768px) {
  .title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; /* Add this */
  padding-bottom: 3.5vh;
}

  h1.title {
    font-family: "Lilita One", sans-serif;
    font-size: clamp(30px, 2.7vw, 120px);
    color: #343434;
    text-align: center;
    margin-bottom: 0px;
    margin-right: 0px;
  }

  .title-wrapper p {
    text-align: center;
    margin-bottom: 0.5px;
    margin-right: 0px;
  }

  p.date {
  font-size: clamp(15px, 0.5vw, 60px);
  color: #343434;
  text-align: center;
  margin: 0vh;
  padding: 1vmax;
  }

}

hr {
  width: 100vw;
  color: #3434344f;
}

/** Question Panel */
div.question-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.difficulty-panel {
  display: flex;
  flex-direction: row;
  font-size: clamp(10px, .75vw, 20px);
}

div.question-panel {
  background-color: #e6deeb;
  width: clamp(500px, 35vw, 800px);
  height: fit-content;
  border-radius: 40px;
  border: #8a78a5 solid 0.8vmax;
  margin: 0 auto;
  margin-bottom: 1.5vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.question-title {
  font-size: clamp(20px, 1.6vw, 30px);
}

div.question-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 15px;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: clamp(26px, 2.2vw, 40px);
}

/* Question box Small*/
@media (max-width: 768px) {
  div.difficulty-panel {
    font-size: clamp(10px, .7vw, 20px);
  }
    
  div.question-panel {
    width: clamp(250px, 60vw, 800px);
    border: #8a78a5 solid 0.8vmax;
  }

  .question-title {
    font-size: clamp(15px, 1vw, 30px);
  }

  div.question-display {
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 15px;

    font-size: clamp(20px, 1.9vw, 40px);
  }

  .side-menu-wrapper a {
    border-radius: .2rem;
  }
}

/* Input Box */

.input-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.functions-box {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
  position: relative;
}

.keyboard-fnc {
  user-select: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  position: relative;

  border: solid 0.6vmax #8a78a5;
  border-radius: clamp(0px, 2vmax, 500px);
  width: clamp(60px, 6vw, 571px);
  height: clamp(60px, 6vw, 571px);
  justify-content: center;

  font-size: clamp(18px, 2.1vw, 58px);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  cursor: pointer;
  box-shadow: 0px 10px 0px 0px #786990;

  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 200ms;
}
.keyboard-fnc:hover {
  transform: translateY(4px);
  box-shadow: 0px 6px 0px 0px #786990;
}
.keyboard-fnc:active {
  transform: translateY(7px);
  box-shadow: 0px 3px 0px 0px #786990;
}

.keyboard-box {
  position: absolute;
  pointer-events: none;
  top: -100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 20rem;
  width: 35rem;
  filter: drop-shadow(0px .5vmax .5vmax rgba(0, 0, 0, 0.3));
}
.keyboard-box-rect {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  pointer-events:all;
  transform: translateY(calc(-80% - 3vh));
  background-color: #e6deeb;
  height: 15vmax;
  width: fit-content;
  padding: 2vmax;
  border-radius: 2rem;
}
.keyboard-box-rect::before {
  pointer-events: none;
  content: '';
  position: absolute;
  top: calc(60% + 5vmax);
  left: calc(50% - 2vmax);
  height: 4vmax;
  width: 4vmax;
  transform: rotate(45deg);
  background-color: #e6deeb;
  z-index: -1;
}

.kb-scroll-box {
  height: 100%;
  width: fit-content;
  overflow-y: scroll;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-radius: 1rem;
}

.kb-button {
  cursor: pointer;
  user-select: none;
  width: 5vmax;
  height: 5vmax;
  margin: .3vmax;
  background-color: white;
  border: #8a78a5 solid 0.5vmax;
  border-radius: .5rem;
  color: black;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(18px, 1.5vw, 38px);

  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 200ms;
}
.kb-button:hover {
  transform: scale(110%);
}

.input-area {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  font-size: clamp(18px, 1.2vw, 38px);
  color: #343434;
  margin-bottom: 1.5vw;
}

.button {
  background-color: #959BD0;
  /* soft indigo */
  border: #8a78a5 solid 0.5vmax;
  border-radius: 1000px;
  color: white;
  padding: 15px;
  font-family: "Bree Serif", serif;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(18px, 1.5vw, 38px);
  margin: 4px 2px;
  cursor: pointer;
  user-select: none;
  width: 60%;

  margin-bottom: 1.5vw;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 170ms;
}

.button:hover {
  background-color: #8a78a5;
  /* soft indigo */
}

.input-box {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  overflow: scroll;

  border: solid 0.6vmax #8a78a5;
  border-radius: 20px;
  width: clamp(470px, 33vw, 800px);
  height: clamp(50px, 7vw, 571px);
  justify-content: center;

  font-size: clamp(18px, 1.5vw, 38px);
}

.input-box p {
  font-size: 2.5vmax;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
}
.inputInclude {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  overflow: scroll;
  width: clamp(100px, 10vw, 700px);
  padding: 0;
  margin: 5px;
}

.input-box .mq-editable-field {
  all: unset !important;
  font-size: 2.5vmax !important;
  font-family: "Times New Roman", Symbola, serif !important;
  background-color: #fdfdfd !important;
  background: transparent !important;
  outline: none !important;
  cursor:text !important;
  padding: 3px !important;
  min-width: 250px !important;
  text-align: center !important;
}

.mf-holder {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  overflow: scroll;

  width: clamp(300px, 100%, 900px);
  border-bottom: solid 2.5px #8a78a54f !important;
}

.button.continue {
  width: clamp(130px, 24vw, 500px);
}

/* Incorrect Pop up */
div.incorrect-popup {
  position: absolute;
  top: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  border: solid 0.7vmax rgb(176, 45, 45);
  background-color: rgb(231, 231, 231);
  border-radius: 10000px;
  width: clamp(70px, 15vw, 800px);
  height: clamp(30px, 4vw, 571px);
  font-size: 1.3vmax;
  color: rgb(176, 45, 45);

  pointer-events: none;
}

/* input box Small*/
@media (max-width: 768px) {
  .input-area {
  font-size: clamp(16px, 1.2vw, 38px);
  }

  .button {
    padding: 15px;
    font-size: clamp(18px, 1.5vw, 38px);
    width: 100%;
  }

  .input-box {
    width: clamp(250px, 60vw, 800px);
    height: clamp(60px, 10vw, 571px);
    justify-content: center;
    margin-bottom: 1.5vw;

    font-size: clamp(18px, 1.5vw, 38px);
  }

  .input-box p {
    font-size: 2.5vmax;
  }

  .input-box .mq-editable-field {
    min-width: 500px !important;
  }
  .mf-holder {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    overflow: scroll;

    width: clamp(300px, 100%, 700px);
    border-bottom: solid 2.5px #8a78a54f !important;
  }

  .inputInclude p{
    width: clamp(70px, 6vw, 800px);
  }


  .button.continue {
    padding: 15px;
    font-size: clamp(18px, 1.5vw, 38px);
    width: 100%;
  }

  .keyboard-box-rect {
    top: -10%;
    left: -12%;
  }
  .keyboard-box-rect::before {
    left: calc(50% - 2vmax + 30%);
  }

}

/* Game Over Screen */
.game-over {
  background-color: #e6deeb;
  width: fit-content;
  height: fit-content;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 35%;
  padding-top: 10%;
  padding-bottom: 15%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border-radius: 2vmax;
}

.game-over .answer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: clamp(340px, 25vw, 550px)
}

.answer div {
  min-width: 50px;
  margin-left: 15px;
  padding: 2%;
  background-color: whitesmoke;
  border: #8a78a5 solid 5px;
  border-radius: 20px;
  font-size: clamp(20px, 1.4vw, 200px);
  cursor: pointer;
  user-select: none;
}

.game-over img {
  width: 3.5vw;
  height: 3.5vw;
  padding: 5%;
}

.game-over div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.game-over .title {
  padding-bottom: 2%;
}

.game-over .button {
  width: clamp(200px, 20vw, 400px);
}

.game-over .score {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 50px;
}

/* game over box Small*/
@media (max-width: 768px) {
  .game-over {
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5%;
    padding-top: 8%;
    padding-bottom: 10%;

    border-radius: 2vmax;
  }

  .game-over .title {
    padding-bottom: 2%;
    font-size: clamp(18px, 3vw, 38px);
  }
}